</body>

<script src="/js/detail.js"></script>

<script src="/js/layout.js"></script>

<script>

    (function() {
        var view = document.getElementsByClassName("view")[0];
        //var style = window.getComputedStyle(view);
        var width = view.style.width = 1350;
        window.setTimeout(function(){
            view.innerHTML = '';
            function sub() {
                width -= 50;
                view.style.width = width + "px";
                if(width <= 0) {
                    view.style.display = "none";
                    window.clearInterval(timer);
                }
            }
            var timer = window.setInterval(sub,10);

        },1000);


    })()

</script>



</html>